### Import librarty , Load Datasets #Perform quick fixes

This section will focus primarily on loading libraries and the dataset to be use in this analysis.

The dataset was download from this [Source](http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv) as a **csv** dataset.

In [1]:
# load in library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   radio       200 non-null    float64
 3   newspaper   200 non-null    float64
 4   sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

#### Quick fixes

In [5]:
# performing quick fixes to remove trailing white spaces and 
# and also dropping columns not needed
df.columns = df.columns.str.lower().str.strip()

df.drop(df.columns[0], axis=1, inplace= True)
df.head(3)

      tv  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3

#### Scrutiny
The idea here is to check the data for missing values as most machine learning algorithms do not 
work well with missing dataset.

In [6]:
df.isnull().any().sum()

0

#### EDA